//Обнуляющие стили
@import "null";

//Переменные
@import "vars";
//Миксины
@import "mixins";
//Блоки
@import "blocks";
@import "main-page";
@import "burger";

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: Poppins;
}
