* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Roboto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main-part {
  height: calc(100vh - 2.4rem);
  background: url(../images/slider/slider-img1.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 992px) {
  .main-part {
    height: 100vh;
    background: url(../images/slider/slider-img1.jpg) center no-repeat;
  }
}

.top-bar {
  height: 2.4rem;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .top-bar {
    display: none;
  }
}

.top-bar-balance {
  visibility: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-bar_text {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-bar_icon-location {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-bar_icon-location #top-bar__link {
  margin-right: 2.4rem;
  padding-left: 0.6rem;
  color: #000000;
}

#top-bar__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  color: #ffffff;
}

.header__lower-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 57px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 1.6rem;
  margin-left: 2.4rem;
}

@media (max-width: 900px) {
  .header__logo {
    text-align: center;
    margin-left: 0;
    margin-top: 0.1rem;
  }
}

.header__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.514%;
          flex: 0 1 44.514%;
  margin-top: 2.4rem;
}

@media (max-width: 900px) {
  .header__center {
    display: none;
  }
}

.header__center .header__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__center .header__search-icon {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  right: 2.2rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
}

.header__center .header__search-icon:hover {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 3px;
}

.header__center .header__search-icon img {
  display: block;
  margin: 0.5rem auto;
}

@media (max-width: 900px) {
  .header__center .header__search-icon {
    right: 3rem;
  }
}

.header__center .header__input-wrapper {
  margin: 0 auto;
  position: relative;
  margin-bottom: 2.4rem;
  max-width: 63.3rem;
}

.header__center .header__input {
  background-color: rgba(247, 247, 247, 0.24);
  padding-left: 1.6rem;
  width: 100%;
  margin: 0 24.5px;
  height: 4.8rem;
  mix-blend-mode: normal;
  border-radius: 3px;
}

.header__input::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.header__input:-ms-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.header__input::-ms-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.header__input::placeholder {
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.75rem;
  white-space: nowrap;
}

.header__navbar .header__navbar-link {
  margin-left: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 0.75rem;
}

.header__navbar .header__navbar-link a {
  padding: 16px 0 13px 0;
}

.header__navbar .header__navbar-link .chevron {
  display: none;
}

@media (max-width: 900px) {
  .header__navbar .header__navbar-link .chevron {
    display: block;
    height: 12px;
    margin-left: auto;
  }
}

.header__navbar .header__navbar-link:hover::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 2px;
  margin-bottom: -0.3rem;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}

.header__navbar .navbar-link {
  list-style: none;
}

.header__navbar a {
  color: #ffffff;
}

.header__sign-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  height: 2.4rem;
  margin-top: 2.4rem;
}

@media (max-width: 900px) {
  .header__sign-block {
    -ms-flex-preferred-size: 7rem;
        flex-basis: 7rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 1.6rem;
  }
}

.header__sign-block a {
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
}

.header__sign-block a:hover {
  text-decoration: underline;
}

.header__sign-block span {
  display: block;
  margin-right: 0.4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__sign-block .header__register {
  margin-right: 1.5rem;
}

.header__sign-block .header__basket {
  font-size: 2.4rem;
  margin-right: 2.5rem;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 992px) {
  .header__sign-block .header__basket {
    margin-right: 0.9rem;
  }
}

.header__sign-block .header__basket img {
  width: 1.6rem;
  height: 2.4rem;
}

.header__sign-block .header__basket:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.header__basket-counter {
  display: none;
  text-align: center;
  padding-top: 3px;
  color: #000000;
  margin-right: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #f2da91;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .header__basket-counter {
    display: block;
  }
}

.main-part__title-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 78%;
          flex: 0 1 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: calc( 34px + 26 * ((100vw - 320px) / 1120));
  line-height: 90px;
  color: #ffffff;
}

@media (max-width: 576px) {
  .main-part__title-block {
    display: none;
  }
}

.registration-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.6rem;
}

.registration-block__inner-wrap {
  max-width: 44rem;
}

.registration-block__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.872727px;
  color: #000000;
  margin-top: 3.1rem;
  margin-bottom: 1.4rem;
}

.registration-block__input-wrap {
  margin-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-block__email-field {
  width: 100%;
  max-width: 33.4rem;
  min-width: 22.4rem;
  height: 3.2rem;
  border: 1px solid #e1e0e1;
  border-radius: 3px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  padding-left: 1.1rem;
  margin-right: 1.2rem;
}

.registration-block__btn {
  width: 100%;
  max-width: 9.4rem;
  height: 3.2rem;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0.3rem;
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.registration-block__btn:hover {
  border: 2px solid #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background-color: #f7f7f7;
  padding-top: 2.6rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 3.5px 1.6rem 0 1.6rem;
  }
}

.footer__top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.8rem;
  padding: 0 18.542% 0 19.583%;
}

@media (max-width: 992px) {
  .footer__top-part {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer__top-part {
    margin-bottom: 1.7rem;
    display: block;
  }
}

.footer__top-part a {
  color: #000000;
}

.footer__top-part a:hover {
  text-decoration: underline;
}

.footer__top-part_column {
  max-width: 20%;
  margin: 0 1.5rem;
}

@media (max-width: 992px) {
  .footer__top-part_column {
    margin: 0 2rem;
  }
}

@media (max-width: 768px) {
  .footer__top-part_column {
    max-width: 100%;
    margin-right: 0;
  }
}

.footer__top-part_column ul {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .footer__top-part_column ul {
    display: none;
    border-bottom: 1px solid #e1e0e1;
    padding-left: 1.6rem;
  }
}

@media (max-width: 768px) {
  .footer__top-part_column.active ul {
    display: block;
  }
  .footer__top-part_column.active .footer__heading-wrap {
    border-bottom: none;
  }
  .footer__top-part_column.active .footer__arrow-right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .footer__top-part_column:last-child .footer__column-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 2.65rem 0 0 0;
  }
  .footer__top-part_column:last-child .footer__column-item {
    margin: 0 1.2rem;
  }
  .footer__top-part_column:last-child .footer__heading-wrap {
    display: none;
  }
  .footer__top-part_column:last-child ul {
    margin-top: 2.65rem;
    display: block;
    border: none;
  }
}

.footer__arrow-right {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__heading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__heading-wrap img {
  display: none;
  padding-right: 1.6rem;
}

@media (max-width: 768px) {
  .footer__heading-wrap img {
    display: block;
  }
}

@media (max-width: 768px) {
  .footer__heading-wrap {
    border-bottom: 1px solid #e1e0e1;
  }
}

.footer__column-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.16364px;
  font-family: Cormorant Garamond;
  padding-bottom: 12.5px;
}

@media (max-width: 768px) {
  .footer__column-heading {
    padding: 12.5px 0 12.5px 16px;
    cursor: pointer;
  }
}

.footer__column-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.1px;
  margin-bottom: 0.6rem;
}

.footer__column-item:first-child {
  margin-top: 4.5px;
}

@media (max-width: 768px) {
  .footer__column-item {
    margin-bottom: 1rem;
  }
}

.footer__column-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column-social .footer__column-item {
  margin-top: 4.5px;
}

.footer__column-social .footer__icon {
  margin-top: 0;
}

.footer__column-social li {
  margin-right: 1.6rem;
}

.footer__column-social li:last-child {
  margin-right: 0;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.footer__column-item > .footer__icon:hover {
  text-decoration: none;
  color: #e4cc8b;
}

.footer__lower-part {
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-bottom: 1.4rem;
}

@media (max-width: 768px) {
  .footer__lower-part {
    padding-bottom: 2.3rem;
  }
}

.top-bar.active {
  background-color: #f7f7f7;
}

.header__basket.active {
  margin-right: 0.9rem;
}

.navbar-link.active a {
  color: #000000;
}

.header__navbar-link.active:hover::after {
  background-color: black;
}

.header__input.active::-webkit-input-placeholder {
  opacity: 1;
  color: #000000;
}

.header__input.active:-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.header__input.active::-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.header__input.active::placeholder {
  opacity: 1;
  color: #000000;
}

.header__input.active {
  border: 1px solid #f2f2f2;
}

.fixed {
  position: fixed;
  width: 100%;
}

.header.active {
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .sign-block-link {
    color: #000000;
  }
}

.header__burger-btn-wrap {
  display: none;
  -ms-flex-preferred-size: 7rem;
      flex-basis: 7rem;
  padding-left: 1.6rem;
}

@media (max-width: 900px) {
  .header__burger-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__burger-btn-wrap .header__burger {
  display: block;
  margin-top: 2.2rem;
  width: 2rem;
  height: 1.5rem;
  background: none;
  margin-right: 1.7rem;
  position: relative;
  z-index: 11;
}

.header__burger-btn-wrap .header__burger:hover {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 3px;
}

.header__burger-btn-wrap .header__burger span {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.header__burger-btn-wrap .header__burger span:last-child {
  margin-bottom: 0;
}

.header__burger-btn-wrap .burger__search-icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: url(../images/icons/search.svg) center no-repeat;
}

.header__burger-btn-wrap .burger__search-icon:hover {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.5;
}

.header__burger-menu {
  display: none;
  position: fixed;
  height: 100vh;
  min-width: 100%;
  overflow: scroll;
  background-color: #ffffff;
}

.header__burger-menu h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.header__burger-menu h3 img {
  display: block;
  max-width: 8.8rem;
  height: 1.7rem;
  margin-bottom: 2.4rem;
}

.burger__inner-wrap {
  display: block;
  width: calc(100% - 4rem);
}

.burger__inner-wrap .burger__sign-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.8rem;
  color: #000000;
  background-color: #f7f7f7;
}

.burger__inner-wrap .burger__sign-block a {
  color: #000000 !important;
}

.burger__inner-wrap span {
  display: block;
  margin: 0 5px;
}

.burger__gatherer .header__navbar {
  display: block;
}

.burger__gatherer .header__navbar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f7f7f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 4.6rem;
  padding-left: 1.6rem;
}

.burger__gatherer .header__navbar-link:hover {
  text-decoration: underline;
}

.burger__gatherer .header__navbar-link a {
  color: #000000;
}

.burger__gatherer .chevron {
  margin-right: 1.6rem;
}

.burger__gatherer .header__sign-in {
  display: block;
  margin: 1.7rem 0 1.6rem 1.5rem;
}

.gray-block {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.32);
  height: 100vh;
  width: 4rem;
}

.header__burger-menu.active {
  display: block;
}

.header__burger.active span {
  background-color: #000000;
}

.gray-block.active {
  display: block;
}

.header.active .header__burger span {
  background-color: #000000;
}

.header__burger.active span:nth-child(3) {
  -webkit-transform: translateY(-0.6rem) rotate(-45deg);
          transform: translateY(-0.6rem) rotate(-45deg);
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:nth-child(1) {
  -webkit-transform: translateY(0.6rem) rotate(45deg);
          transform: translateY(0.6rem) rotate(45deg);
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: Poppins;
}
/*# sourceMappingURL=style.css.map */